{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Cadastro de Produtos</h1>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{form.participante|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.categoria|as_crispy_field}}
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                {{form.nome|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.slug|as_crispy_field}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                {{form.descricao|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.foto|as_crispy_field}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                {{form.preco|as_crispy_field}}
            </div>
            <div class="col-md-5">
                {{form.saldo|as_crispy_field}}
            </div>
            <div class="col-md-2">
                {{form.disponivel|as_crispy_field}}
            </div>

        </div>

        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                    Gravar
                </button>
            </div>
            <div class="col-md-4">
                <a href="{% url 'produto_list' %}" class="btn btn-secondary btn-block btn-lg">
                    <i class="fas fa-stream"></i> Volta para a Lista
                </a>
            </div>
        </div>
    </form>
{% endblock %}