{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Cadastro de Participantes</h1>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8">
                {{form.colaborador|as_crispy_field}}
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                {{form.codigo|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.cnpj|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.razao_social|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{form.pessoa_contato|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.telefone|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.email|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{form.cep|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.endereco|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.numero|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {{form.complemento|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.bairro|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{form.cidade|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.uf|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.pais|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                    Gravar
                </button>
            </div>
            <div class="col-md-4">
                <a href="{% url 'cliente_list' %}" class="btn btn-secondary btn-block btn-lg">
                    <i class="fas fa-stream"></i> Volta para a Lista
                </a>
            </div>
        </div>
    </form>
{% endblock %}